body{
    display: flex;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

main{
    padding: 20px;
    margin: 20px;
}

h2{
    font-family: Georgia, serif;
}

hr{
    border: 1px solid black;
}

footer{
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
    padding: 10px;
    margin: 10px;
}

.t{
    padding: 5px;
    margin: 5px;
}

.site-title{
    font-size: 36px;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
}