body{
    background: rgb(238, 238, 238);
}

.card{
    background: rgb(255, 255, 255);
}

.card button{
    background: rgb(0, 153, 0);
}

h2{
    font-family: Georgia, serif;
    font-size: 1em;
}

img{
    position: absolute;
}